<view class="hSwiper" >
      <view class="hSwiperCon" hover-stop-propagation="true" animation="{{swiperAnmiation}}" catchtouchstart="swiperTouchstart" catchtouchmove="swiperTouchmove" catchtouchend="swiperTouchend" style="{{wrapperStyleValue}}">
            <block wx:for="{{starlist}}" wx:key="index" >   
                <view class="item">
                  <block wx:if="{{index == activeNum}}">
                  <image src="{{item.path}}" class='current' animation='{{currentStyle}}'></image>
                  </block>
                  <block wx:else>
                  <image src="{{item.path}}"></image>
                  </block>
                </view>
            </block>
      </view>
  </view>
