/* components/star/star.wxss */
/*滑动样式*/
.hSwiper{
height: 160rpx;
background: #fff;

}
.hSwiperCon{
  padding: 20rpx 0px;
	height:  120rpx;
	position: relative;
  white-space: nowrap;
  display: flex;
  line-height: 120rpx;
  overflow: hidden;
  align-items: center;
}
.item{
	width: 100rpx;
	height: 100rpx;
	position:relative;
	float: left;
	box-sizing:border-box;
  margin-right: 20rpx;
}
.item image{height: 100%;width: 100%;border-radius: 50%;}
image.current{border: 1px solid red;transform: scale(1.2,1.2)}