<template name='index-audio'>
  <scroll-view  class="template-item" scroll-y  bindscrolltolower="loadMore" >
  <audio-item audiolist="{{audiolist}}" bind:playingaudio="paudio"></audio-item>
  </scroll-view>
</template>