<template name='index-video'>
  <scroll-view  class="template-item" scroll-y  bindscrolltolower="loadMore">
<video-item videolist="{{videolist}}"></video-item>
  <view class='loading-image-box' style='display:{{loadshow ? "block":"none"}}'>
  <image class="loading-images" src="/static/images/loading.gif"></image>
  </view>
  </scroll-view>
</template>