.myform{width: 740rpx;margin: 5rpx auto;background: #fff;border:1px solid #ddd;box-shadow: 0rpx 10rpx 10rpx #fdfdfd;font-size: 24rpx;}
.form-item{height: 60rpx;line-height: 60rpx;text-indent: 20rpx;border-bottom: 1px solid #f0f0f0;}
.form-label{display:block;height: 60rpx;}
.form-input{display: inline-block;width:600rpx;background:#f0f0f0;height:50rpx;float: left;padding-left: 8rpx;margin-top:4rpx;}
.form-text{display: inline-block;height: 50rpx;line-height: 50rpx;float: left;margin-top: 5rpx;}