
		<div class="location"><b></b><p><a href="http://www.puamap.com/">首页</a> &gt; <a href="/zixun/">资讯</a> &gt; <a href="/zixun/lilun/">理论</a>&nbsp;&gt;&nbsp;<label>妹子喜欢你的表现</label></p></div>
		<div class="article_title">
			<h1>妹子喜欢你的表现</h1>
			<p><span><img src="/zixun/templets/langji2/images/time.png">2017-06-13 10:30</span><span><img src="/zixun/templets/langji2/images/eye.png"><script src="/zixun/plus/count.php?view=yes&amp;aid=1904&amp;mid=7" type="text/javascript" language="javascript"></script>6786</span><span class="cy"><img src="/zixun/templets/langji2/images/comment.png"><script type="text/javascript" src="http://assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script><a href="#SOHUCS" id="changyan_count_unit"></a></span><span><img src="/zixun/templets/langji2/images/writer.png"><script src="/zixun/ds.php?action=link&amp;writer=浪迹教育" type="text/javascript" language="javascript"></script>浪迹教育</span></p>
		</div>

		<div class="article_con">
			<div>
	<span style="font-size: 16px;">&nbsp; &nbsp; &nbsp; &nbsp; 前些天，朋友大胖给我抱怨：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　在朋友聚会时认识了一个清纯可人的妹子，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　简直就是理想的初恋型！</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　于是大胖就开始对别人紧追不舍了，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　经常找妹子聊天，约她出去玩儿，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　但是迟迟没有表白。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　大胖虽看着是个大大咧咧的人。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　实际上却是害羞内敛的。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　害怕受伤的人。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　由于他一直也不知道妹子的一个想法，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　过于担忧失落，就放弃错过了。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　很久之后听朋友说起，貌似妹子当时非常有意于他，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　但是现在早已另有新欢。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　大胖也只能感慨时光荏苒了。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　像这样的傻事儿肯定很多人也有过的。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　完全不了解妹子的想法。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　到底是喜欢还是不喜欢我啊。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　现在，我们来聊一聊喜欢你的妹子到底是怎样的表现？</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　1.总是讲一些不着边际，故作深沉的话语</span><br>
	&nbsp;</div>
<div style="text-align: center;">
	<img alt="妹子喜欢你的表现第1张" src="http://sitecdn.puamap.com/zixun/uploads/allimg/170317/7-1F31GF224.jpg"></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　在初中同学录上，她给我抄了好长的一首诗。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　还有角落的一句：TiAmo</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　当时年轻傻，完全不知道什么意思。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　长大了才知道她的心意，遗憾却无可奈何。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　妹子们喜欢你，就会讲一些你听不懂的话语，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　你以为她只是没事感慨，却不知她早心属于你。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　2.找各种借口，让你冒充她的男友</span><br>
	&nbsp;</div>
<div style="text-align: center;">
	<img alt="妹子喜欢你的表现第2张" src="http://sitecdn.puamap.com/zixun/uploads/allimg/170317/7-1F31GF224-50.jpg"></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　妹子们对于喜欢你的事情，是不可能轻易说出口的。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　但是会做一些暧昧的事情，期望你能够发现这个秘密。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　比如说她会说：今天我一个朋友过来，让我相亲，我不想去啊，我说我有男朋友了，她还不信，你充当我一天的男友好不好啦。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　这个时候，你就要注意啦！</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　妹子们就是喜欢你！</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　充当男友的事情是非常严肃暧昧的，妹子们这样做了，就是非比寻常。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　3.当她朋友结婚了，会邀请你陪她参加婚宴</span><br>
	&nbsp;</div>
<div style="text-align: center;">
	<img alt="妹子喜欢你的表现第3张" src="http://sitecdn.puamap.com/zixun/uploads/allimg/170317/7-1F31GF224-51.jpg"></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　参加婚宴这种事情，一般多是家庭为主。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　请帖也说了：恭请XX及家人光临。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　尤其是前男友结婚，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　就算是带着意气用事，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　也说明你在她心目中的地位，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　妹子带你参加这种重要宴会，就相当于承认了你，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　也是给整个圈子介绍了你。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　4.洗完澡后，依然回来找你聊天</span><br>
	&nbsp;</div>
<div style="text-align: center;">
	<img alt="妹子喜欢你的表现第4张" src="http://sitecdn.puamap.com/zixun/uploads/allimg/170317/7-1F31GF224-52.jpg"></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　很多人都会遇到妹子说我去洗澡了然后再也不回信息的尴尬情况。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　其实妹子说是洗澡只是借口而言，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　她们只是不想再和你继续聊天，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　如果你一直追问，她们只会感到厌烦，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　而那些洗完澡回来找你聊天的妹子，一般都是对你感兴趣的！</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　5.也是最重要的一点：发光的眼神！</span><br>
	&nbsp;</div>
<div style="text-align: center;">
	<img alt="妹子喜欢你的表现第5张" src="http://sitecdn.puamap.com/zixun/uploads/allimg/170317/7-1F31GF224-53.jpg"></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　恋爱中的人眼神会发光，这句话一点也不假。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　什么都不用说，就是静静的深情的的眼神。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　正如你喜欢一个人所看她的样子。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　丝毫不保留地流露出爱，这是装不出来的。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　一个人要是喜欢你，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　看你的时候，连眼神都在发光......</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　那些年，我们总是因为内心的不确定与胆怯，就错过了暗恋的女孩与美好的爱情。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　所以一定要了解妹子心里的想法，仔细观察她们对待自己的一些小事，这样就能知道她的心意。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　所以兄弟们，看到这种情况，</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">　　就别傻啦！她喜欢你！在等你表白呢！</span></div>

		</div>
		
		<div class="like"><span class="span_cl zan" rel="1904"><img src="/zixun/templets/langji2/images/hand2.png" class="z1"><img src="/zixun/templets/langji2/images/hand.png" class="z2">赞 <b><script src="/zixun/zan.php?id=1904" type="text/javascript" language="javascript"></script>9</b><i>+1</i></span><!-- <label class="label_cl"><img src="/zixun/templets/langji2/images/star2.png"></label> --></div>
		<dl class="share">
			<dt><span><label>分享到</label></span></dt>
			<dd>
				<div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1514171147176"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
				<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};
				with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			</dd>
		</dl>
		
	
		

	